.github
docker
dev.bat
dev.sh
node_modules
.git
.env
dist
app/ui/dist
app/widget/dist
app/script/dist
server/dist
.DS_Store
Thumbs.db
app/script/node_modules
app/ui/node_modules
app/widget/node_modules
.DS_Store
Thumbs.db
